.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-left: 0rem;
    padding-right: 0rem;
    color: #6c757d;
    content: "\F285";
    content: var(--bs-breadcrumb-divider, "");
}
.accordion-item{
    border: none;
}
.accordion-item .accordion-header i{
    line-height: 1;
    display: inline-block;
    margin-right: 0.5rem;
}
.accordion-item .accordion-header .bi-dot{
    color: #f65653;
}
.accordion-button{
    transition: all linear 0.2s;
    border-radius: 25px!important;
    outline: none;
}
.accordion-button:not(.collapsed){
    background: rgba(230,240,255,.8);
    box-shadow: none;
}
.accordion-button:hover{
    color: #0c63e4;
    box-shadow: none;
}
.accordion-button:focus{
    outline: none;
    box-shadow: none;
}
.accordion-body{
    padding: 0.5rem;
}
.accordion-item .badge{
    display: inline-block;
    margin-left: 0.5rem;
}
.accordion-item ul{
    padding-left: 0;
    margin-bottom: 0;
}
.accordion-item ul li{
    list-style: none;
}
.accordion-item ul li a{
    padding: 1rem 0 1rem 2rem;
    display: block;
    text-decoration: none;
    color: #000;
}
/* .accordion-item ul li + li a{
    border-top: 1px solid rgb(0 0 0 / 13%);
} */
.accordion-item ul li a:hover, .accordion-item ul li.active a{
    color: #0c63e4;
    background: rgba(242,243,247,.8);
}